* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  user-select: none;
  touch-action: manipulation;
  font-family: "M PLUS 1p", sans-serif;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

input {
  width: 125px;
  height: 40px;
  text-align: center;
  font-size: 22px;
  border-radius: 10px;
  outline: none;
}

/* index */

#display {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/eidolon-background.jpg") no-repeat 35%;
  background-size: cover;
}

#choice {
  width: 50%;
  height: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-height: 414px) {
  #choice {
    flex-direction: row;
  }
}

.team {
  width: 150px;
  height: 75px;
  margin: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

#paths {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#morse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    &::after {
      content: "Doubletap to save";
      position: absolute;
      top: 0;
      right: -30px;
      transform: rotateZ(40deg);
      font-size: 10px;
    }
  }
  &__buttons {
    width: 150px;
    height: 75px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__short {
    width: 75px;
    height: 75px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 18px;
  }
  &__long {
    @extend #morse__short;
  }
}

/* ammo / path */

#headsup {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#height {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &__display {
    font-size: 32px;
    font-weight: bold;
  }
}

#direction {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__display {
    text-align: center;
    font-size: 128px;
    font-weight: bold;
  }
}

#parts {
  display: flex;
  justify-content: center;
}

#notification {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &__type {
    text-align: center;
    line-height: 50px;
    font-size: 32px;
  }
  &__info {
    text-align: center;
    line-height: 50px;
    font-size: 32px;
  }
}
